body {
    margin: 0;
    background: linear-gradient(to bottom, #c23232, #121212);
    font-family: Arial, sans-serif;
    color: white;
}

.header {
    padding: 40px 0;
    text-align: center;
}

.menu {
    text-align: center;
    margin: 10px 0 30px;
}

.menu button {
    background: #181818;
    border: none;
    padding: 12px 22px;
    margin: 6px;
    border-radius: 30px;
}

.menu a {
    color: #1db954;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.menu button:hover {
    background: #282828;
}

.menu button:hover a {
    color: white;
}

.container {
    width: 85%;
    margin: auto;
    padding-bottom: 40px;
}

/* MUSIC PLAYER */
.player {
    background: #181818;
    width: 320px;
    margin: auto;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.6);
    text-align: center;
}

.player img {
    width: 190px;
    border-radius: 10px;
    border: 3px solid #1db954;
}

.song {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.artist {
    font-size: 14px;
    color: #b3b3b3;
}

.progress {
    width: 100%;
    margin: 15px 0 5px;
}

.time {
    font-size: 12px;
    color: #b3b3b3;
    display: flex;
    justify-content: space-between;
}

/* CONTROL BUTTONS */
.controls button {
    background: #282828;
    border: none;
    color: white;
    padding: 12px;
    width: 55px;
    border-radius: 50%;
    margin: 15px 10px;
    font-size: 18px;
}

.controls .play {
    background: #1db954;
    color: black;
}

.controls button:hover {
    transform: scale(1.1);
}

/* SONG ROWS */
.item {
    background: #181818;
    padding: 14px;
    margin: 12px 0;
    border-radius: 8px;
    width: 90%;
    font-size: 15px;
    color: #e1e1e1;
    display: block;
}

.item:hover {
    background: #1db954;
    color: black;
    font-weight: bold;
}

.footer {
    background: #000;
    padding: 15px;
    text-align: center;
}
.controls button:active {
    transform: scale(0.9);
    opacity: 0.7;
}
